body{ 
  background-color: rgb(190, 237, 255);
}

.App {
  margin-top: 6rem;
  line-height: 2rem;
  text-align: center;
}

.header{
  background-color: rgb(172, 226, 228);
  padding: 2%;
}

.main-div{
  width: 400px;
  height: auto;
  margin: auto;
  box-shadow: 1px 3px 5px rgba(0,0,0,1);
  display: flex;
  padding: 1%;
  padding-top: 0;
  flex-direction: column;
  background-color: rgb(61, 48, 48);
}

.part{
  background-color: rgb(230, 215, 215);
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.sign{
  padding: 0.1rem;
  cursor: pointer;
  background-color: white;
  color: black;
  width: 20px;
  margin-right: 2rem;
  font-size: 1.2rem;
  box-shadow: 2px 3px 4px rgba(0,0,0,1);
}

.question{
  text-align: left;
  width: 300px;
  white-space: nowrap;
}

.answer{
  text-align: left;
  word-wrap: break-word;
  padding: 0.5rem;
  margin-top: 0.3rem;
  background-color: rgb(210, 227, 230);
}